<p> Exercise 2</p>

<h1>Jupyter Lab Notebook Exercises</h1><br>

<p> Exercise 3</p>

<p> Introduction </p><br>

<p> Exercise 4 </p>

<p> List of data science languages: </p>
<ul>
  <li>Python</li>
  <li>Javascript</li>
  <li>Scala</li>
  <li>R</li>
  <li>SQL</li>
</ul><br>

<p> Exercise 5 </p>

<p> List of data science libraries: </p>
<ul>
  <li>Pandas</li>
  <li>NumPy</li>
  <li>SciPy</li>
  <li>TensorFlow</li>
  <li>Matplotlib</li>
</ul><br>

<p> Exercise 6 </p>

<p> Table of data science tools: </p><br>
<table>
  <tr>
    <th>Tool</th>
    <th>Vendor</th>
    <th>Latest Version</th>
  </tr>
  <tr>
    <td>Apache Hadoop</td>
    <td>Apache</td>
    <td>3.1.1</td>
  </tr>
  <tr>
    <td>SAS</td>
    <td>SAS Institute</td>
    <td>1.0</td>
  </tr>
    <tr>
    <td>Tableau</td>
    <td>Salesforce</td>
    <td>2020.2</td>
  </tr>
    <tr>
    <td>TensorFlow</td>
    <td>GoogleBrain</td>
    <td>2.2.0</td>
  </tr>
</table>

<p> Exercise 7 </p>

<p>markdown cell introducing arithmetic expression examples</p>

<p> Exercise 8 </p>

<p> Create a code cell to multiply and add numbers </p>

In [3]:
num1 = 3
num2 = 7
total = (num1*num2)+(num1+num2)
print("Total =" + str(total))

Total =31

<p> Exercise 9 </p>

In [4]:
print("Create a code cell to convert minutes to hours")
minutes=600
hours = minutes/60
print("hours ="+ str(hours))

Create a code cell to convert minutes to hours
hours =10.0

<p> Exercise 10 </p>

<p> Insert a markdown cell to list Objectives </p>
<p> Objectives: </p>
<ul>
  <li>Objective 1: Finish the exercises</li>
  <li>Objective 2: Submit the assignment</li>
  <li>Objective 3: Raeceive a good grade</li>
</ul>

<p> Exercise 11 </p>

<p> Create a markdown cell to indicate the Authorâ€™s name </p>
<p> The author is Anthony Larweck </p>

<p> Exercise 12 </p>

<p> Share your notebook through GitHub </p>
<a href="https://github.com/al1489/Data_Science_Course/blob/main/Jupyter_Lab_Exercises.ipynb">https://github.com/al1489/Data_Science_Course/blob/main/Jupyter_Lab_Exercises.ipynb</a>

<p> Exercise 13 </p>

<p> Take a screenshot of the first page of the notebook  </p>
<img src="notebook.jpeg" alt="Screenshot of the first page of my notebook">